@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #F7F5F5;
    font-family: "Montserrat", sans-serif;
    color: #62605F;
    display: flex;
    flex-direction: column;
}

/*
h1,
h2,
h3 {
    font-family: "Dancing Script", sans-serif;
}
    */

/*navbar*/
#navbar * {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #B79FAD;
}

/*hero*/
#hero {
    background: url("/assets/images/sarah-cervantes-ZUUmmpbwKjM-unsplash.jpg") no-repeat center center/cover;
    position: relative;
    height: 500px;
    width: 100%;
 }


.salon_name {
    width: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #62605F;
    /*include font-size(4rem);*/
}

.mark,
mark {
    color: #62605F;
    background-color: rgba(213, 202, 202, 0.7);
}

.header_button {
    text-align: center;
    padding-top: 100px;
}

.custom_button {
    background-color: #B79FAD;
    color: #F7F5F5;
    border: #A27E81;
}

.custom_button:hover {
    background-color: #A27E81;
    color: #F7F5F5;
}

/*services*/

.card-text {
    min-height: 142px;
    /*text needs centring*/
  } 

  .card > img {
    height: 400px;
}
/*footer*/

#contact {
    background-color: #B79FAD;
    color: #F7F5F5;
}

.social-media-links * {
    font-size: 3rem;
    margin-top: 3rem;
    padding: 15px;
    color: #F7F5F5;
}

.social-media-links:hover {
    color: #A27E81;
}

#contact .table-dark * {
    background-color: transparent;
    border: #B79FAD;
}
